<div class="container mt-5" *ngIf="persona">
  <h5 style="color: rgb(17, 64, 2)">MODIFICAR DATOS PERSONA</h5>

  <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

    
    <div class="form-group">
      <label for="nombre">NOMBRE</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        name="nombre"
        [(ngModel)]="persona.nombre"
        required
      />
    </div>

    <div class="form-group">
      <label for="apellido">APELLIDO</label>
      <input
        type="text"
        class="form-control"
        id="apellido"
        name="apellido"
        [(ngModel)]="persona.apellido"
        required
      />
    </div>

    <div class="form-group">
        <label for="fecha_nacimiento">FECHA DE NACIMIENTO</label>
        <input
          type="text"
          class="form-control"
          id="fecha_nacimiento"
          name="fecha_nacimiento"
          [(ngModel)]="persona.fecha_nacimiento"
          required
        />
      </div>


    <div class="form-group">
        <label for="dni">DNI</label>
        <input
          type="text"
          class="form-control"
          id="dni"
          name="dni"
          [(ngModel)]="persona.dni"
          required
        />
      </div>

      <div class="form-group">
        <label for="nacionalidad">NACIONALIDAD</label>
        <input
          type="text"
          class="form-control"
          id="nacionalidad"
          name="nacionalidad"
          [(ngModel)]="persona.nacionalidad"
          required
        />
      </div>

    

    <div class="form-group">
        <label for="descripcion">DESCRIPCIÓN</label>
        <input
          type="text"
          class="form-control"
          id="descripcion"
          name="descripcion"
          [(ngModel)]="persona.descripcion"
          required
        />
      </div>

      <div class="form-group">
        <label for="telefono">TELEFONO</label>
        <input
          type="text"
          class="form-control"
          id="telefono"
          name="telefono"
          [(ngModel)]="persona.telefono"
          required
        />
      </div>

      <div class="form-group">
        <label for="mail">CORREO ELECTRÓNICO</label>
        <input
          type="text"
          class="form-control"
          id="mail"
          name="mail"
          [(ngModel)]="persona.mail"
          required
        />
      </div>

      <div class="form-group">
        <label for="github">enlace a GITHUB</label>
        <input
          type="text"
          class="form-control"
          id="github"
          name="github"
          [(ngModel)]="persona.github"
          required
        />
      </div>

      <div class="form-group">
        <label for="facebook">enlace a FACEBOOK</label>
        <input
          type="text"
          class="form-control"
          id="facebook"
          name="facebook"
          [(ngModel)]="persona.facebook"
          required
        />
      </div>

      <div class="form-group">
        <label for="instagram">enlace a INSTAGRAM</label>
        <input
          type="text"
          class="form-control"
          id="instagram"
          name="instagram"
          [(ngModel)]="persona.instagram"
          required
        />
      </div>

      <div class="form-group">
        <label for="whatsapp">número de WHATS APP </label>
        <input
          type="text"
          class="form-control"
          id="whatsapp"
          name="whatsapp"
          [(ngModel)]="persona.whatsapp"
          required
        />
      </div>



      <div class="form-group">
        <label for="imgBanner">URL IMABEN DE BANNER</label>
        <input
          type="text"
          class="form-control"
          id="imgBanner"
          name="imgBanner"
          [(ngModel)]="persona.imgBanner"
          required
        />
      </div>


    
      <div class="form-group">
        <label for="imgPerfil">SUBIR FOTO PERFIL</label>
        <input
          type="file"
          class="form-control"
          id="imgPerfil"
          name="imgPerfil"
          [(ngModel)]="persona.imgPerfil" (change)="uploadImgPerfil($event)" acept=".jpg, .jpeg, .png"/>
      </div>
      <div class="imagen">
        <img [src]="imgService.url" alt="">
        <p style="color:red">por favor espere a que se cargue  <strong> sus imagenes aquí </strong> antes de actualizar</p>
      </div>





    <button id="boton" class="mt-3" type="submit">ACTUALIZAR PERSONA</button>
    <button id="boton" class="  mt-3" routerLink="/" >REGRESAR SIN CAMBIOS</button>
  </form>
  <br><br>
</div>
