footer {
    background-color: #677d9c;
    color: #fff;
    padding: 10px
  }
  
  footer h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  footer p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  
  footer li i {
    margin-right: 10px;
  }
 
  
  #contacto:target {
    background-color: rgba(0, 255, 42, 0.655);
    color: black;
    text-align: center;
    border-radius: 20px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.346);
    font-size: 18px;
    padding:10px
  }
  