<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          
          <p>Estamos a su disposición para cualquier consulta, duda o sugerencia.</p>
          <ul>
            <li><i class="fa fa-map-marker"></i> {{persona.nombre}} {{persona.apellido}}</li>
           
            <li ><i class="fa fa-phone"></i> Llamadas mensajes o WHATS APP 
              <div id="contacto"> {{persona.telefono}}  </div></li>
            
            <li><i class="fa fa-envelope"></i> Email: {{persona.mail}}</li>
            
          </ul>
        </div>
        
      </div>
    </div>
  
  </footer>
  
