

 

  <nav class="navbar navbar-expand-lg navbar-light  ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../../../assets/LOGO ARG.png" alt="logo argentina programa" id="logo" width="250px"></a>
      <h6 style="color: white; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">CARLOS ALFREDO GOMEZ</h6>
      <button class=" hamburguesa " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class=" redes">
          <li >
            <a   href="{{persona.facebook}}" target="_blank"><img src="../../../../assets/logofacebook.png" alt="" ></a>
          </li>
          <li >
            <a  href="{{persona.instagram}}" target="_blank"><img src="../../../../assets/logoinstagram.png" alt=""></a>
          </li>
          <li >
            <a  href="{{persona.github}}" target="_blank"><img src="../../../../assets/logogithub.png" alt=""></a>
          </li>
          <li >
            <a  href="#contacto"><img src="../../../../assets/logowhatsapp.png" alt=""></a>
          </li>
          <li >
            <!--<a class="login" routerLink="/login">LOGIN</a> --> 
            <button type="button" class="btn btn-outline-ligth" (click)="login()" *ngIf="!isLogged" >INGRESAR</button>
            <button type="button" class="btn btn-outline-ligth" (click)="onLogOut()" *ngIf="isLogged" >SALIR</button>
          </li>
         
        </ul>

       

       
     
      </div>
    </div>
  </nav>



 