<div class="container">

<ul>
  <li> <a href="https://www.facebook.com/profile.php?id=100039719214983" target="_blank">Facebook</a> </li>
  <li> <a href="https://www.instagram.com/lysfotografias/" target="_blank">Instagram</a></li>
  <li> <a routerLink="/contactos">Contactos </a></li>
  <li> <a routerLink="/quince">15 años</a> </li>
  <li> <a routerLink="/enlaces">Enlaces</a> </li>
  <li> <a routerLink="/pekes">Varios</a> </li>
  <li> <a routerLink="/presupuesto">Presupuestos</a> </li>
</ul>

</div>