*{
    list-style: none;
    text-decoration: none;
    display:flex;
    padding-left: 8px;
   
}

a{
   
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.476);
    padding:10px;
    margin-bottom: 5px;
    border-radius: 0px 0px 8px 8px;
    font-size: large;
    font-weight:bold;
    color:rgb(255, 255, 255);
    background-color: rgba(144, 132, 250, 0.383);
}


a:hover{
    background-color: rgba(50, 108, 194, 0.763);
    box-shadow: 3px 5px 3px rgba(255, 255, 255, 0.476);
    padding:15px;
    border-radius: 0px 0px 8px 8px;
    font-size: large;
    color:rgb(255, 255, 255);
   
    border: 1px solid white;
}

.contenedor{
    position: absolute;
    z-index: 2;
    top:0px;
    
    display:block

}



@media  (max-width:850px){
    .contenedor{
        position: absolute;
        z-index: 2;
        top:40px;
        left:100px;
        display:none;
      
    
    }

    
}




.container-celu{
    position: absolute;
    z-index: 2;
    top:120px;
    left:100px;
    
    display:none

}



@media  (max-width:850px){
    .container-celu{
        position: absolute;
        z-index: 2;
        top:450px;
        left:0px;
        
        display:block;
        float: left;
           }

           
}


@media  (max-width:540px){
    .container-celu{
        position: absolute;
        z-index: 2;
        top:250px;
        left:0px;
        
        display:block;
        float: left;
           }
}


@media  (max-width:290px){
    .container-celu{
        position: absolute;
        z-index: 2;
        top:150px;
        left:0px;
        
        display:block;
        float: left;
           }
}

