
  
   

<div class="container">



<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <h1 class="navbar-brand" >LYS PRODUCCIONES</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <img src="../../assets/hamburguesa.png" alt="" width="20px">
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="container">
      <div class="barra">
        <a routerLink="/contactos">Contactos </a>
        <a routerLink="/quince">15 años</a>
        <a routerLink="/enlaces">Enlaces</a>
        <a routerLink="/pekes">Varios</a>
    
        <a
          href="https://www.facebook.com/profile.php?id=100039719214983"
          target="_blank"
          >facebook</a
        >
        <a href="https://www.instagram.com/lysfotografias/" target="_blank"
          >instagram</a
        >
        <a href="https://www.youtube.com/@lysfotografias" target="_blank"
          >youtube</a
        >
      
        <a aria-label="Chat on WhatsApp" href="https://wa.me/+5493425238973/?text=HOLA%20estoy%20en%20tu%20página%20quisiera%20contactarme">
        whats app</a>


    
        <a routerLink="">HOME</a>
      </div>
    </div></div>
  </div>
</nav>
</div>