<div class="container">
<h1>LYS PRODUCCIONES </h1>
<h3>TU MEJOR MOMENTO, TU MEJOR IMAGEN </h3>
<h2>Fotografía y Videofilmación</h2>
<h2>CONTRATE NUESTRO SERVICIO</h2>
<h4>¿Qué le ofrecemos?</h4>
<p>Le ofrecemos a nuestros clientes un servicio personalizado, acorde a las necesidades individuales de cada uno, proyectando nuestra experiencia para plasmar sus recuerdos en imágenes.</p>
<p>Ofreciéndoles tambien calidez en la atención y profesionalismo en nuestro trabajo. </p>
<p>Es importante, para obtener excelentes resultados, la buena relación con el cliente por eso atendemos sus dudas de manera eficiente, considere que nuestro mayor anhelo es el buen desarrollo del servicio y la mejor calidad en el producto final.</p>


<div class="box">
    <h5>PACK DE FOTOS</h5>
    <p>El pack de fotos consta de la cantidad de fotos que usted deseé, presentadas en album tamaño  15 por 21 centímetros y estarán impresas en papel de exelente calidad, por lo cual usted podrá conservar sus fotos por años si preocuparse de los problemas del paso del tiempo y así mantendrá colores vivos y firmes de sus mas preciados recuerdos. </p>
</div>

<div class="box2">
    <h5>VIDEOFILMACIÓN</h5>
    <p>Elegantes box con tapas personalizadas, contendrán las imágenes en movimiento de alta definición y calidad de sonido compaginadas con la mayor delicadeza.
        Usted encontrará en este producto la comodidad de llevar sus recuerdos a una pantalla para vivir una vez más su evento en la comodidad de su hogar.
        </p>
</div>


<div class="box4">
    <img src="../../assets/LYSS.jpg" alt="" class="img-fluid">
</div>

<div class="box3">
    <h5>VIDEOCLIP</h5>
    <p>Videoclip proyectado en la fiesta con el cual, usted compartirá con sus invitados, imágenes fotográficas de sus recuerdos, música y una serie de tomas organizadas para lograr un momento nostálgico, de asombro y a la vez divertido. Video retro de fotos + Video Teen Model (15 años) Video Romántico (Enlaces)+ Video con familiares amigos y o compañeros + video de saludos. </p>
</div>

<div >
    <h4>VARIEDAD</h4>
    <p>Para realizar las tomas fotográficas elegimos  los paseos y plazas de Santa Fe, existen una variedad de lugares atractivos para concretar el trabajo previo a la fiesta.
                   </p>
                   <p>
                    Plazas y parques, escenarios campestres incluyendo sus lugares ferroviarios, edificios de nuestra querida ciudad y diferentes sitios de la costa con sus paisajes.
                   </p>
                </div>

<div class="box">
    <h5>GIGANTOGRAFÍA</h5>
    <p>Les presentamos un baner de exelente calidad en diseño e imagen que será exibido en el salón del evento principal, para que sus invitados y usted admiren. </p>
</div>

<div class="box3">
    <h5>LIBRO DE FIRMAS</h5>
    <p>Anillado de terminaciones finas con dieños fotográficos acordes al motivo del evento entre hojas texturadas en las cuales sus invitados plasmarán de puño y letra sus mejores deseos para con usted. </p>
</div>

<div class="box2">
    <iframe  height="300" width="100%" src="https://www.youtube.com/embed/yAV74gxIdeA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>




