
    <div class="container">
       
      
        <div class="row">
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (1).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (2).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (3).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (4).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (5).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (6).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (7).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (8).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (9).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (10).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (11).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (12).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (13).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (14).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (15).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (16).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (17).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (18).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (19).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (20).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (21).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (22).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (23).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (24).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (25).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (26).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (27).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (28).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (29).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (30).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (31).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (32).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (33).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (34).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (35).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (36).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (37).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (38).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (39).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (40).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (41).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (42).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (43).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (44).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            <img
              src="../../assets/model/MODEL (45).jpg" alt="" class="img-fluid"/>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-6 ">
            


          

        </div>


        
      
      
       
        <app-footer></app-footer>
      </div>
      