<div>
  <img id="banner"src="../../assets/BANNER1.jpg" alt="" class="img-fluid" />
 
</div>

<div>
  <img
    src="../../assets/12.jpg"
    alt=""
    class="img-fluid"
  />
</div>
<div>
  <img
    src="../../assets/a.jpg"
    alt=""
    class="img-fluid"
  />
</div>
<div>
  <img
    src="../../assets/a1.jpg"
    alt=""
    class="img-fluid"
  />
</div>

<div>
  <app-que-le-ofrecemos></app-que-le-ofrecemos>
  </div>

<div class="container">

  <div>
    <img
      src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t31.18172-8/13923315_749853901821414_2666723123677169128_o.jpg?_nc_cat=103&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=rTFSU_bfpyoAX-ecNya&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfCUwWKRwqNy3KmXaP1cJS3AcU3nfRkOZAFWtKU9x-nJnA&oe=64459C45"
      alt=""
      class="img-fluid"
    />
  </div>

  <div>
    <img
      src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t31.18172-8/13923298_749853928488078_7424033561397568600_o.jpg?_nc_cat=108&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=MrEwg4NLE2IAX8VBOPe&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfCoNl3nJAM7o1FinCt5stFxL-Q2EjhLhM40nDe_ixh6lA&oe=6445A8DC"
      alt=""
      class="img-fluid"
    />
  </div>

 

  <div>
    <img
      src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t31.18172-8/17855483_897963217010481_8902367560571928193_o.jpg?_nc_cat=105&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=aR466BO8NQ4AX8Clx6J&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfA3F3y2gOXJMmGNgCB7lKvMqGd7fbp_-YaVjO2tA9Qgeg&oe=6445A7D0"
      alt=""
      class="img-fluid"
    />
  </div>




<div>
  <img
    src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t39.30808-6/316094817_831685728165393_1196256593033865671_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=0debeb&_nc_ohc=Nm6QvdChG9UAX_V3Hsy&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfAIX2V6emAUWiAO6W5Woe12a34LYD5Vwun8NVktaibHFw&oe=641848C5"
    alt=""
    class="img-fluid"
  />
</div>


<div>
  <img
    src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t1.6435-9/117051895_1825660067574120_1076269234125387176_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=uBJ_0YabpzMAX-upwMF&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfC-wlhWa5F7ojmPwL1MB5gLxhFqx0ddcIRNLkf4gN9lJg&oe=64358352"
    alt=""
    class="img-fluid"
  />
  
</div>


   
      <div>
        <img
          src="../../assets/cáñamo (1).jpg"
          alt=""
          class="img-fluid"
        />
        
  </div>




  
  <div>
    <img
      src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t39.30808-6/279764987_2361657257307729_6580007017762903140_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=eg6g8-URQXMAX_lneG3&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfDP6aYLPEXd09E3R51MNnb070Fka0xnkwWIjM3geMtoGw&oe=6415CFFF"
      alt=""
      class="img-fluid"
    />
    
  </div>

  <div>
    <img
      src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t39.30808-6/260384927_2237869399686516_6084209972563783079_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=1KJ2W1n-HjEAX-wuLOy&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfCJtvgD4l03QzhRJNjIIpwN54ulX3o-V49a8e-XGHG6Sg&oe=64131384"
      alt=""
      class="img-fluid"
    />
  </div>

  









<div>
  <img
    src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t1.6435-9/67245793_1449627235177407_5049323768342642688_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=NYF0fWlGu_cAX-7DFW-&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfBlqiMX7j0fNLzmujokSS3Kc4poVjpZCO5EpqyapLnpBA&oe=64357B46"
    alt=""
    class="img-fluid"
  />
</div>
</div>