<div class="container">
    <li routerLink="/" class="mt-3">VOLVER</li>
  
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t31.18172-8/14712726_788586997948104_1787332819865684205_o.jpg?_nc_cat=106&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=mjBRZBNBGCEAX-Y9F9l&_nc_oc=AQmH944acj4muXvVYvftmrAy3umWsxEfe6St3Ar0_VvQAJ-mrSVcFjtQQn2vqXlSuYvQTJ1ubzJDlV67dUO0HgfD&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfDtg62V7AP85lYt0sI8iaQNgo-FScSeAauZXq4Sjy9u0A&oe=6435E49A"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 ">
        <img
          src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t31.18172-8/29354659_1090634361076698_6113056620267095124_o.jpg?_nc_cat=105&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=uVAhRGGFw3UAX_gzrIY&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfD8KotJb_pe4EkM4_DgbgLe1cbjBRDlVgW6zwBbMMefJQ&oe=6435C70B"
          alt=""
          class="img-fluid"
        />
      </div>
  
      <div class="col-xs-12 col-sm-12 col-md-3 ">
        <img
          src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t31.18172-8/17017145_872655429541260_1432019089476891560_o.jpg?_nc_cat=111&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=Fp9FCrWyDV0AX-gfEHS&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfCk_g6C3LU2Xus_QyrrWa9ul4JmCJmwZPqfKObPMHGQfA&oe=6435F33C"
          alt=""
          class="img-fluid"
        />
      </div>
  
      <div class="col-xs-12 col-sm-12 col-md-3 ">
        <img
          src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t31.18172-8/22713619_1003762076430594_4533665521556075304_o.jpg?_nc_cat=101&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=zmL_WaKuoQIAX_tnyBG&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfBufhvuyVHNbvyY4w6VWug5rNZJchRpyUs6rlHvYoJqDw&oe=6435C5D3"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t31.18172-8/22770797_1003762593097209_7335726991675564243_o.jpg?_nc_cat=104&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=HtggZZp3U-cAX91Ja_u&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfAyhR8oBkv_tNJI5m0QnExnsJbGHIguKuNuGvAwwt15zg&oe=6435C8CD"
          alt=""
          class="img-fluid"
        />
      </div>
  
      <div class="col-xs-12 col-sm-12 col-md-3 ">
        <img
          src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t31.18172-8/12967320_699293780210760_4853881242191678773_o.jpg?_nc_cat=107&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=IvXGdplKK9oAX9veHQW&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfCWHDe6NMW4Cjfbz9nYEu7UPf_kTEIRFqBFzQ6wF_XG1g&oe=6435FA13"
          alt=""
          class="img-fluid"
        />
      </div>
  
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t31.18172-8/17038470_872648246208645_5220481011215866972_o.jpg?_nc_cat=104&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=KFLShaReJ-4AX_xHGkw&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfC8h9-487s4dXnsF_isznAsTiwJgEKnoFJsLDMRTnRytg&oe=6435D4AF"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t31.18172-8/13063036_699294096877395_7784222260055139883_o.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=XstcE6vPEuIAX8DsShv&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfDCIVlwjsnsedVVPMDAmVkJFwdxW0pjnTDm0OvViYhgzQ&oe=6435E73D"
          alt=""
          class="img-fluid"
        />
      </div>
  
      <div class="col-xs-12 col-sm-12 col-md-3 ">
        <img
          src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t31.18172-8/12240988_633422623464543_8548731382886993897_o.jpg?_nc_cat=102&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=EaxwRZ60voQAX_W1-7V&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfAGHM_8h8jbnue1jxGp1KjbxIRLW1M2ruK4kn5zb1T4lg&oe=6435E36A"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 ">
        <img
          src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t31.18172-8/16992000_871368519669951_9023417223339032524_o.jpg?_nc_cat=105&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=PeB6KvfHU1sAX-NXQXo&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfCX3f3sgXmc46PwfJJqrOLXEvzWGUPZDYCu_LGv2znw6w&oe=6435CD49"
          alt=""
          class="img-fluid"
        />
      </div>
  
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t31.18172-8/12273665_633422936797845_1891217397657643124_o.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=96K56p6bN7AAX9Y5l79&_nc_oc=AQl5PLUTjoHFS_d1UIuQQA4l_6kNhpI-YHfskQoLh356mIaVQrBVoz4OIqcocReZehxIepiVmJEljaazBmZpe-Lq&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfDSteNAjV3iei0ckYvEmdQpjtzcyFnQjuuy-wLYhth42A&oe=6435CC22"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
  
    
      <div class="col-6 mt-5">
        <iframe width="350" height="315" src="https://www.youtube.com/embed/TQno7SscoS8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p>
          Parte del Videoclip de Dai en su enlace.
        </p>
      </div>
  
    <app-footer></app-footer>
