<div class="container">
   
  
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (9).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (8).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (7).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (6).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (5).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (4).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (3).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (2).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (1).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (11).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (12).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (13).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (14).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (17).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (15).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (16).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (18).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (19).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
    
     
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (22).jpg"
          alt=""
          class="img-fluid"
        />
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (21).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (20).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (23).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 ">
        <img
          src="../../assets/enl (24).jpg"
          alt=""
          class="img-fluid"
        />
      </div>
    
  
    <app-footer></app-footer>
