<app-barra></app-barra>

<div class="container box2">
  <h1>Contáctanos</h1>

  <a
    aria-label="Chat on WhatsApp"
    href="https://wa.me/+5493425238973/?text=HOLA%20estoy%20en%20tu%20página%20quisiera%20contactarme"
  >
    <img src="../../assets/WhatsAppButton.png" alt="" width="60px"
  /></a>

  <a
    href="https://www.facebook.com/profile.php?id=100039719214983"
    target="_blank"
    ><img src="../../assets/facebook.png" alt="" width="60px"
  /></a>

  <a href="https://www.instagram.com/lysfotografias/" target="_blank"
    ><img src="../../assets/instagram.png" alt="" width="60px"
  /></a>

  <a href="https://www.youtube.com/@lysfotografias" target="_blank"
    ><img src="../../assets/youtube.png" alt="" width="60px" />
  </a>
  <br /><br />
  <h6>toca en la red social de tu preferencia</h6>
</div>

<app-footer></app-footer>
