<div class="container">
 

  <div class="row">

    

    <div class="col-xs-12 col-sm-12 col-md-6 ">
      <img
        src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t39.30808-6/340180621_185227137705342_5052396157232364517_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=0debeb&_nc_ohc=oNe1jv-9_qYAX_g0Kss&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfByWGxkISmYcR_a_6sqH6TGbtUdja02JWQjfHwVz2-mPQ&oe=6436090D"
        alt=""
        class="img-fluid"
      />
    </div>


    <div class="col-xs-12 col-sm-12 col-md-6 ">
      <img
        src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t39.30808-6/340105322_1651106388696100_2116676374249761146_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=0debeb&_nc_ohc=MYOT47g1QEEAX8r7Up8&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfATktq76iSncmlAmoVcKUIse4Sqk35Uh-7W1nL5V0nuzQ&oe=643470E3"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 ">
      <img
        src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t39.30808-6/280769956_2358515347622138_6956073011005647482_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeFjNA4p5FsYKHk7nW6NQhWz88fpXqnExL_zx-leqcTEvz3iUINL22mCfj0ic4xH2gBEy3VnsVi84osH6QxKIgx2&_nc_ohc=gmslMjc3MT4AX_UNdPO&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfCXEc7cLq9RC0UwA1NSb_fAPFHFqtjAHqr2UWY6ndUHJg&oe=64361870"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 ">
      <img
        src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t39.30808-6/280995028_2358511377622535_1403256454647304754_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeE0KTOOCylcPJbtpXjSVH0RPrgbJiZwm2k-uBsmJnCbaYZaEcJihQla5wGHmVwXTE25RsvYggLntmg3aQGLLJZo&_nc_ohc=pGNSvsEwd0AAX8XFpDy&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfDXztEiOgK71CKcnSPwWI-LAFTBushV4K7YNfq8Nhjg1g&oe=643491D4"
        alt=""
        class="img-fluid"
      />
    </div>


    <div class="col-xs-12 col-sm-12 col-md-6 ">
      <img
        src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t39.30808-6/281159807_2358514924288847_3395026956757499609_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeGer9lb2KhkIYtiQG9ilgdISnKwMRFbFmNKcrAxEVsWY-XW3HdyE_zUY2SIn4Z2Tt_EnM4GZZjqiosZG5e5eZzl&_nc_ohc=mHHkdMObyCQAX8LK0zz&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfBja0RPdQTWQZwr3MuYB4CgnpSm8c7c2SJclpvR-ujYeg&oe=6435F22A"
        alt=""
        class="img-fluid"
      />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 ">
      <img
        src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t39.30808-6/280968525_2358517857621887_598262042904763169_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeFON-vlo2Ha6Eb0tXJzvVa1lcSeCb5M0CeVxJ4JvkzQJ4t48uaSKzgrKvfkob0gYuAethC91vl-Yc1K2q_zXp3x&_nc_ohc=-VySb8BSqWgAX-WGr3F&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfDcoT_Wwou5i19UlgLws1j-gXBdJc_CUOSjnKBqOf_Img&oe=6434A5CB"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 ">
      <img
        src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t39.30808-6/280745828_2358518307621842_7646965077083083809_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeF1jdo26sKG9oa6QSQeEeaM25mfFx4JqCbbmZ8XHgmoJkEdQMpxaimc5eQXbw8g6t8K0HbGDQhIQ2DQqU_FuUcq&_nc_ohc=NetYpa_MfYEAX8GyJQR&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfDsNzKLHushdmqLvTdna-q17IDpVhkG442cY4kvUwSIVg&oe=6434DF5F"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 ">
      <img
        src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t39.30808-6/280850122_2358518397621833_3383142905836266079_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeFG1I1Zegmo3DxgyTsU2jQxYJ5yirig4jNgnnKKuKDiM4w-3-qSK5s_XBSIS7RcKIGvg6L4whbx8xpNFw0HmqDW&_nc_ohc=x9QhIflRIJUAX8bMvYu&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfDXGB2YBQ_jhh-UJvjTz6be_5-TP_7fbBVt2oLJl7I0iw&oe=6435293A"
        alt=""
        class="img-fluid"
      />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 ">
      <img
        src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t1.6435-9/151266669_2002527433220715_2876066021648542679_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_ohc=FVbKZxCzOgYAX_X9dNz&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfBZUTilpcunu7KJilSh52Cjgai8Q9zYSuq2_vzwtDWJwg&oe=6435D3F8"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 ">
      <img
        src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t39.30808-6/280747735_2358515004288839_8900151339036421183_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeGa5OajpS3781rNCuVCURAwj2UwcPaczAqPZTBw9pzMCt94ERwa4UtSKPktNpTKadxTVJuwUEKO9oOASIYSWafB&_nc_ohc=nl_smH-V3M0AX9ivrEn&_nc_oc=AQk60_9GpvtBBXzpuwUwNyf2Ow3xBt9_xVE8agHgACtORUG7xxjTsjjxaeIuoDGklS8QRzXXK2T2-WRqAks__WdP&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfAXj8K1Byg_wb4yY-ys4ze18SOPz1asVbGkJHrIAXVyYw&oe=643576B8"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 ">
      <img
        src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t1.6435-9/150867692_2002527386554053_8826011696802872845_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=FcE8Aj43xC8AX-pYkwL&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfCo3R7MONMFDjskXIK0v4VuWjtADcL3ZNOisjUuR7mzCA&oe=6435CFB3"
        alt=""
        class="img-fluid"
      />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 ">
      <img
        src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t1.6435-9/151280479_2002527343220724_1472823399967124955_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=qbljpNXucZ0AX_pQIx2&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfB3hHcxM_1sLWIkpLyiLSHxUyYukRjFGbm11vRdN4oAeA&oe=6435CEC3"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 ">
      <img
        src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t1.6435-9/107566492_1792671534206307_8682346565053103208_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=M4taK6kIOIwAX-OPQTI&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfCAGriRDVt2oTbyeE93hGy4GRCOA24jPKg0FTNZ6X82Cw&oe=6435C9F6"
        alt=""
        class="img-fluid"
      />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 ">
      <img
        src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t1.6435-9/117177395_1825659034240890_862278840059140855_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=_KH200n7xpMAX911iRD&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfCcyhEkMhVvrWjbVHG49oPqb4xxlLgInESgv185dMKFfw&oe=6435CA76"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 ">
      <img
        src="https://scontent.fsfn6-1.fna.fbcdn.net/v/t1.6435-9/150911048_2002527229887402_5799809666820271232_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=MsGjLhNjetwAX-PCsw2&_nc_pt=1&_nc_ht=scontent.fsfn6-1.fna&oh=00_AfDIOZiRKTjZjbqP4tpzqNb33ixKM7yB2nZlItec907feQ&oe=6435DF8D"
        alt=""
        class="img-fluid"
      />
    </div>

 
  </div>




    
    





    <div class="col-6 mt-5">
      <iframe
        width="350px"
        height="auto"
        src="https://www.youtube.com/embed/GGEjlLpzJZM"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <p>
        Felices 15 Victoria la pasamos genial junto a tu gente, resumen de la
        fiesta en salon AVELLINO, LYS FOTOGRAFÍA.
      </p>
    </div>

    <div class="col-6 mt-5">
      <iframe
      width="350px"
      height="auto"
        src="https://www.youtube.com/embed/--PrEsijcYQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <p>
        Felices 15 Ludmi gracias por tanto, hermosa familia y cálidos mometos
        nos hicieron vivir durante toda la producción, LYS FOTOGRAFÍA.
      </p>
    </div>

    <div class="col-6 mt-5">
      <iframe
      width="350px"
      height="auto"
        src="https://www.youtube.com/embed/hLeWgEtC6CU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <p>
        Felices 15 Mélani, hermosa en todo momento, nos redivertimos en los
        exteriores y en la fiesta la pasamos genial y volvimos a ver gente
        conocida de otros eventos, gracias por volver a elegirnos LYS
        FOTOGRAFÍA.
      </p>
    </div>

    <div class="col-6 mt-5">
      <iframe
      width="350px"
      height="auto"
        src="https://www.youtube.com/embed/KCG1lTIDldk"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="mt-3"></div>
  <app-footer></app-footer>
