<div class="container">
 

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 ">
      <img
        src="../../assets/a3.jpg"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 ">
      <img
        src="../../assets/a2.jpg"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 ">
      <img
        src="../../assets/a4.jpg"
        alt=""
        class="img-fluid"
      />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 ">
      <img
        src="../../assets/a5.jpg"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 ">
      <img
        src="../../assets/a6.jpg"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 ">
      <img
        src="../../assets/a7.jpg"
        alt=""
        class="img-fluid"
      />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 ">
      <img
        src="../../assets/a8.jpg"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 ">
      <img
        src="../../assets/a9.jpg"
        alt=""
        class="img-fluid"
      />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 ">
      <img
        src="../../assets/b1.jpg"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 ">
      <img
        src="../../assets/b2.jpg"
        alt=""
        class="img-fluid"
      />
    </div>
    

    <div class="col-xs-12 col-sm-12 col-md-6 ">
      <img
        src="../../assets/b7.jpg"
        alt=""
        class="img-fluid"
      />
    </div>


    <div class="col-xs-12 col-sm-12 col-md-6 ">
      <img
        src="../../assets/b6.jpg"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 ">
      <img
        src="../../assets/b5.jpg"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 ">
      <img
        src="../../assets/b4.jpg"
        alt=""
        class="img-fluid"
      />
    </div>


    <div class="col-xs-12 col-sm-12 col-md-6 ">
      <img
        src="../../assets/b3.jpg"
        alt=""
        class="img-fluid"
      />
    </div>
    

 
  </div>




    
    





    <div class="col-6 mt-5">
      <iframe
        width="350px"
        height="auto"
        src="https://www.youtube.com/embed/GGEjlLpzJZM"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <p>
        Felices 15 Victoria la pasamos genial junto a tu gente, resumen de la
        fiesta en salon AVELLINO, LYS FOTOGRAFÍA.
      </p>
    </div>

    <div class="col-6 mt-5">
      <iframe
      width="350px"
      height="auto"
        src="https://www.youtube.com/embed/--PrEsijcYQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <p>
        Felices 15 Ludmi gracias por tanto, hermosa familia y cálidos mometos
        nos hicieron vivir durante toda la producción, LYS FOTOGRAFÍA.
      </p>
    </div>

    <div class="col-6 mt-5">
      <iframe
      width="350px"
      height="auto"
        src="https://www.youtube.com/embed/hLeWgEtC6CU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <p>
        Felices 15 Mélani, hermosa en todo momento, nos redivertimos en los
        exteriores y en la fiesta la pasamos genial y volvimos a ver gente
        conocida de otros eventos, gracias por volver a elegirnos LYS
        FOTOGRAFÍA.
      </p>
    </div>

    <div class="col-6 mt-5">
      <iframe
      width="350px"
      height="auto"
        src="https://www.youtube.com/embed/KCG1lTIDldk"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="mt-3"></div>
  <app-footer></app-footer>
