<div class="acerca_de_mi">
  <div class="container">
   
    <div class="row">

      <button style="max-width: 150px; max-height:50px;"  class="btn btn-warning" routerLink="/editAcercaDe/1"  *ngIf="isLogged">
        Editar Persona
      </button>

      <div class="col-xs-12 col-sm-12 col-md-4">
        <img src="{{persona.imgPerfil}}" class="perfil" alt="" />
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6">
       
        <p>Hola, mi nombre es</p>
        <h1>{{ persona.nombre }} {{ persona.apellido }}</h1>
        <p>nací el {{ persona.fecha_nacimiento }}</p>
        <p>soy de nacionalidad {{ persona.nacionalidad }} con DNI {{persona.dni}}</p>
     
        <h6>{{ persona.descripcion }}</h6>
      </div>
    </div>

      


    </div>
  </div>



 





<!-- "../../../../assets/FOTO PERFIL.png" -->
